<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferencboldog.ankomaterial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".launcher.LauncherActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.ferencboldog.ankomaterial.navigationdrawer.NavDrawerActivity"
            android:label="@string/navigation_drawer_activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ferencboldog.ankomaterial.masterdetailflow.MasterListActivity"
            android:label="@string/master_list_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ferencboldog.ankomaterial.masterdetailflow.DetailActivity"
            android:label="@string/detail_activity"
            android:parentActivityName="com.ferencboldog.ankomaterial.masterdetailflow.MasterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ferencboldog.ankomaterial.masterdetailflow.MasterListActivity" />
        </activity>

        <activity android:name="com.ferencboldog.ankomaterial.scrolling.ScrollingActivity"
                  android:label="@string/scrolling_activity"
                  android:theme="@style/AppTheme.NoActionBar" />



    </application>

</manifest>
